.nav {
   @include display-flex;
   justify-content: space-around;
   padding: 0 20px;
   

   &-list {
      @extend .nav;
      @include justify-align-separate(space-around, center);
      max-width: 500px;
      padding: 0;
      flex: 1 1 auto;

      &__item {
         @extend .nav-list;
         flex-grow: 0;
         padding: 10px;
         line-height: 0;
         cursor: pointer; 
      }
   }

   
   
   @media (min-width: $breakpoint-medium) {
      justify-content: space-between;
      &-list {
         @extend .nav;
         @include justify-align-separate(flex-start, center);
         max-width: 100%;
         padding: 0;
         gap: 15px;
   
         &__item {
            @extend .nav-list;
            padding: 10px;
            line-height: 0;
            cursor: pointer; 
         }

         &.user-profile {
           margin-left: auto;
         }
      }
   
    
         
      
   }
}
