@media (min-width: 1600px) {
   .container {
      padding: 0 40px;
      width: 1600px;
      margin: auto;
   }
   .grid.childs-w-100 > * {
      width: 25%;
   }
   
   .login__panel {
      width: 25%;     
   }
   
}