//flex grid
@mixin display-flex($direction: row) {
   display: flex;
   flex-direction: $direction;
}

@mixin justify-align-all($direction: flex-start) {
   justify-content: $direction;
   align-items: $direction;
}

@mixin justify-align-separate($justify: flex-start, $align: flex-start) {
   justify-content: $justify;
   align-items: $align;
}

//theme color
@mixin dark-theme-color($dark-mode: true) {
   @if $dark-mode {
      background-color: tint($dark, 2%);
   }
}

//colors
@mixin set-colors ($color, $percentage){
   @if lightness($color) > 50% {
      color: tint($secondary, $percentage);
      background-color: shade($color, $percentage);
   } @else {
      color: shade($muted, $percentage);
      background-color: tint($color, $percentage);
   }
}


//fonts
@mixin font($weight: 400, $size: 22px, $style: normal) {
   font-style: $style;
   font-weight: $weight;
   font-size: $size;
}

//text
@mixin text-center {
   text-align: center;
}

//animation
@mixin animate($duration: 0.3s) {
   transition: all $duration ease-in-out;
}