.w-25 {
   width: 25%;
}
.w-100 {
   width: 100%;
}
.w-expand {
   flex: 1;
}
.h-100 {
   height: max-content;
}



.text-center {
   text-align: center !important;
}

.mb-10 {
   margin-bottom: 10px;
}