.w-expand {
   flex: 1;
   min-width: 1px;
}

.h-100 {
   height: max-content;
}

.text-center {
   text-align: center !important;

   & > * {
      margin: auto;
   }
}

.remove-p {
   padding: 0 !important;
}

// margins and paddings
@each $value, $size in $spacing {
   .p-#{$value} {
      padding: $size;
   }
   .m-#{$value} {
      margin: $size;
   }
   .mb-#{$value} {
      margin-bottom: $size;
   }
   .mt-#{$value} {
      margin-top: $size;
   }
}

// width
@each $value, $w in $width-values {
   .w-#{$value} {
      width: $w;
   }
   .childs-w-#{$value} > * {
      width: $w;
   }
}

// media screen width
@each $letter, $breakpoint in $breakpoints {
   @media (min-width: $breakpoint) {
      @each $value, $w in $width-values {
         .w-#{$value}\@#{$letter} {
            width: $w;
         }
         .childs-w-#{$value}\@#{$letter} > * {
            width: $w;
         }
      }
   }
}

// media screen display and visibility
@each $letter, $breakpoint in $breakpoints {
   @media (max-width: $breakpoint) {
      .hidden\@#{$letter} {
         visibility: hidden;
      }
   }

   @media (min-width: $breakpoint) {
      .visible\@#{$letter} {
         display: none;
      }
   }
}

// media screen padding values
@each $letter, $value in $gaps {
   @media (min-width: map-get($breakpoints, $letter)) {
      .container {
         padding: 0 $value;
      }
      .settings-content, .settings-nav {
         padding: $value;
      }
   }
}

 