.h-100 {
   height: max-content;
}

.text-center {
   text-align: center !important;

   & > * {
      margin: auto;
   }
}

.remove-p {
   padding: 0 !important;
}
.remove-px {
   padding-left: 0 !important;
   padding-right: 0 !important;
}
.remove-py {
   padding-top: 0 !important;
   padding-bottom: 0 !important;
}

// margins and paddings
@each $value, $size in $spacing {
   .p-#{$value}, .childs-p-#{$value} > * {
      padding: $size;
   }
   .px-#{$value}, .childs-px-#{$value} > * {
      padding: 0 $size;
   }
   .py-#{$value}, .childs-py-#{$value} > * {
      padding: $size 0;
   }
   .pt-#{$value}, .childs-pt-#{$value} > * {
      padding-top: $size;
   }
   .pb-#{$value}, .childs-pb-#{$value} > * {
      padding-bottom: $size;
   }
   .m-#{$value}, .childs-m-#{$value} > * {
      margin: $size;
   }
   .mx-#{$value}, .childs-mx-#{$value} > * {
      margin: 0 $size;
   }
   .my-#{$value}, .childs-my-#{$value} > * {
      margin: $size 0;
   }
   .ml-#{$value}, .childs-ml-#{$value} > * {
      margin-left: $size;
   }
   .mr-#{$value}, .childs-mr-#{$value} > * {
      margin-right: $size;
   }
   .mb-#{$value}, .childs-mb-#{$value} > * {
      margin-bottom: $size;
   }
   .mt-#{$value}, .childs-mt-#{$value} > * {
      margin-top: $size;
   }

   

   .bdr-#{$value} {
      border-radius: $size;
   }
   
}


// media screen display and visibility
@each $letter, $breakpoint in $breakpoints {
   @media (max-width: $breakpoint) {
      .hidden\@#{$letter} {
         visibility: hidden;
      }
   }

   @media (min-width: $breakpoint) {
      .visible\@#{$letter} {
         display: none;
      }
   }
}

// background colors
@each $color in map-keys($theme-colors) {
   .bg-#{$color} {
      @include set-colors(map-get($theme-colors, $color), 0%);
   }
}

// height values
@each $value, $size in $height-values {
   .h-#{$value} {
      height: $size;
   }
}

.overflow-h {
   overflow: hidden;
}

.overflow-y {
   overflow-y: scroll !important;
}