$global-color:                       #363232 !default;
$global-inverse-color:               #fff !default;
$inverse-global-color:               rgba($global-inverse-color, 0.8) !default;
$inverse-global-color-mode:          light !default;

$light:                              #f2f2f2 !default;
$dark:                               #2e2e2e !default;

$primary:                            #ffcb9a !default;
$secondary:                          #2c3531 !default;
$success:                            #116466 !default;
$warning:                            #d9b08c !default;
$muted:                              #d1e8e2 !default;
$danger:                             #9d3a3a !default;
$disable:                            #808191 !default;
$disable-bg:                         #353340 !default;


$breakpoint-small:                   640px !default;  // Phone landscape
$breakpoint-medium:                  960px !default;  // Tablet Landscape
$breakpoint-large:                   1200px !default; // Desktop
$breakpoint-xlarge:                  1600px !default; // Large Screens

$animation-duration:                 200ms !default;

$standart:                           0.875rem !default;
$small:                              0.7rem !default;

$breakpoints: (
   s:           $breakpoint-small,
   m:           $breakpoint-medium,
   l:           $breakpoint-large,
   xl:          $breakpoint-xlarge,
) !default;


$theme-colors: (
   primary:     $primary,
   secondary:   $secondary,
   success:     $success,
   warning:     $warning,
   light:       $light,
   dark:        $dark,
   danger:      $danger,
) !default;


$spacing: (
   1:   1px,
   2:   2px,
   3:   3px,
   4:   4px,
   5:   5px,
   6:   6px,
   7:   7px,
   8:   8px,
   9:   9px,
   10:  10px,
   15:  15px,
   20:  20px,
   25:  25px,
   30:  30px,
   35:  35px,
   40:  40px,
   45:  45px,
   50:  50px,
) !default;

$gaps: (
   s:   15px,
   m:   20px,
   l:   30px,
   xl:  40px,
) !default;

$width-values: (
   20:  20%,
   25:  25%,
   33:  33.33%,
   40:  40%,
   50:  50%,
   70:  70%,
   75:  75%,
   66:  66.66%,
   100: 100%,
   xs:  150px,
   s:   200px,
   m:   300px,
   l:   450px,
) !default;

$height-values: (
   20:   20vh,
   25:   25vh,
   33:   33.33vh,
   40:   40vh,
   50:   50vh,
   66:   66.66vh,
   75:   75vh,
   90:   90vh,
   95:   95vh,
   100:  100vh,
   s:    200px,
   m:    300px,
   l:    450px,
   full: 100%,
) !default;