$global-color:                       #363232 !default;
$global-inverse-color:               #fff !default;
$inverse-global-color:               rgba($global-inverse-color, 0.8) !default;
$inverse-global-color-mode:          light !default;

$light:                              #f2f2f2 !default;
$dark:                               #2e2e2e !default;

$primary:                            #ffcb9a !default;
$secondary:                          #2c3531 !default;
$success:                            #116466 !default;
$warning:                            #d9b08c !default;
$muted:                              #d1e8e2 !default;
$danger:                             #9d3a3a !default;


$breakpoint-small:                   640px !default;  // Phone landscape
$breakpoint-medium:                  960px !default;  // Tablet Landscape
$breakpoint-large:                   1200px !default; // Desktop
$breakpoint-xlarge:                  1600px !default; // Large Screens

$breakpoints: (
   s:           $breakpoint-small,
   m:           $breakpoint-medium,
   l:           $breakpoint-large,
   xl:          $breakpoint-xlarge,
) !default;


$theme-colors: (
   primary:     $primary,
   secondary:   $secondary,
   success:     $success,
   warning:     $warning,
   light:       $light,
   dark:        $dark,
   danger:      $danger,
) !default;


$spacing: (
   1:   1px,
   2:   2px,
   3:   3px,
   4:   4px,
   5:   5px,
   6:   6px,
   7:   7px,
   8:   8px,
   9:   9px,
   10:  10px,
   15:  15px,
   20:  20px,
   30:  30px,
   40:  40px,
) !default;

$gaps: (
   s:   15px,
   m:   20px,
   l:   30px,
   xl:  40px,
) !default;

$width-values: (
   20:  20%,
   25:  25%,
   33:  33.33%,
   40:  40%,
   50:  50%,
   75:  75%,
   100: 100%,
) !default;