@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap');
@import 'variables';
@import 'functions';
@import 'mixins';
@import 'base';
@import 'parts';
@import 'utilites';
@import 'custom';
@import 'media';




[stroke*='#'] {
   stroke: currentColor;
   stroke-width: 1.3px;
}

polygon,
rect {
   fill: currentColor;
   stroke: currentColor;
   stroke-width: 0.3px;
}