svg {
   max-width: 100%;
   height: auto;
   vertical-align: middle;
   transition-property: background-color, color;
   transition-duration: $animation-duration;
   transition-timing-function: ease;


   polygon,
   rect {
      fill: currentColor;
      stroke: currentColor;
      stroke-width: 0.3px;
   }
}